<html lang="en"><head></head><body><form id="mainForm" method="post" action="http://plnkr.co/edit/?p=preview" target="_self"><input type="hidden" name="files[app/app.component.ts]" value="//*** TODO: Import Component from @angular/core
import { Component } from '@angular/core';

/*** 
  TODO: Add an @Component decorator that has the following properties:
        
        selector: 'app-component',
        template: '<h1>App Component</h1><br />'

***/
@Component({ 
  selector: 'app-component',
  template: `
    <h1>App Component!</h1>
    <br />
    <child-component></child-component>
  `
})
//*** TODO: Create an AppComponent class (make sure that you &quot;export&quot; the class)
export class AppComponent  {
  
}"><input type="hidden" name="files[app/app.module.ts]" value="import { NgModule }      from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';

//*** TODO: Import AppComponent and ChildComponent
import { AppComponent }  from './app.component';
import { ChildComponent } from './child.component';

/*** 
  TODO: Register the Components with the Angular Module

        1. Add the AppComponent and ChildComponent symbols 
           into the declarations property array.
        2. Add AppComponent into the boostrap property array.

***/
@NgModule({
  imports:      [ BrowserModule ],
  declarations: [ AppComponent, ChildComponent ],
  providers:    [  ],
  bootstrap:    [ AppComponent ]
})
export class AppModule { }"><input type="hidden" name="files[app/child.component.ts]" value="//*** TODO: Import Component from @angular/core
import { Component } from '@angular/core';

/*** 
  TODO: Add a @Component decorator that has the following properties:
        
        selector: 'child-component',
        template: '<h2>Child Component</h2>'

***/
@Component({
    selector: 'child-component',
    template: `
        <h2>Child Component</h2>
    `
})
//*** TODO: Create a ChildComponent class (make sure that you &quot;export&quot; the class)
export class ChildComponent {


}"><input type="hidden" name="files[app/main.ts]" value="import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';

import { AppModule } from './app.module';

platformBrowserDynamic().bootstrapModule(AppModule)
  .then((success: any) => console.log('App bootstrapped'))
  .catch((err: any) => console.error(err));
"><input type="hidden" name="files[index.html]" value="<!DOCTYPE html>
<html>
  <head>
    <title>Angular</title>
    <meta charset=&quot;UTF-8&quot;>
    <meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;>
    <link rel=&quot;stylesheet&quot; href=&quot;//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css&quot;>

     <!-- Polyfill(s) for older browsers -->
    <script src=&quot;//unpkg.com/core-js/client/shim.min.js&quot;></script>

    <script src=&quot;//unpkg.com/zone.js@0.6.26?main=browser&quot;></script>

    <script src=&quot;//unpkg.com/systemjs@0.19.40/dist/system.src.js&quot;></script>
 
    <script src=&quot;systemjs.config.js&quot;></script>
    <script>
      System.import('app').catch(function(err){ console.error(err);  });
    </script>

  <body>
    <app-component>Loading...</app-component>
  </body>
</html>
"><input type="hidden" name="files[README.md]" value="# Angular Components &quot;Try It&quot; Exercise - 15 Minutes

This example walks you through the process of creating Angular Components
and adding them to a module.

## Exercise Steps

1. Open **app/app.component.ts** and perform the TODO tasks in the file.

2. Open **app/child.component.ts** and perform the TODO tasks in the file.

3. Go back to **app/app.component.ts** and add the following tag into its template
   immediately after the existing <br /> tag:

   <child-component></child-component>

4. Open **app/app.module.ts** and perform the TODO tasks in the file.

5. Open **index.html** and note that <app-component> is defined in it.

6. Click on the &quot;Run&quot; button on the top Plunker bar to run the 
   application. You should see output from the app component and the child component.





"><input type="hidden" name="tags[0]" value="angular2"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="tags[2]" value="Angular"><input type="hidden" name="private" value="true"><input type="hidden" name="description" value="Angular 2 Example - Angular Components"><input type="hidden" name="files[systemjs.config.js]" value="/**
 * PLUNKER VERSION
 * (based on systemjs.config.js in angular.io)
 * System configuration for Angular samples
 * Adjust as necessary for your application needs.
 */
(function (global) {
  
  var ngVersion = '@2.4.9',
      ngRouterVersion = '@3.4.9';
  
  System.config({
    // DEMO ONLY! REAL CODE SHOULD NOT TRANSPILE IN THE BROWSER
    transpiler: 'ts',
    typescriptOptions: {
      tsconfig: true
    },
    meta: {
      'typescript': {
        &quot;exports&quot;: &quot;ts&quot;
      }
    },
    paths: {
      // paths serve as alias
      'npm:': 'https://unpkg.com/'
    },
    // map tells the System loader where to look for things
    map: {
      // our app is within the app folder
      app: 'app',

      // angular bundles
      '@angular/core': 'npm:@angular/core' + ngVersion + '/bundles/core.umd.js',
      '@angular/common': 'npm:@angular/common' + ngVersion + '/bundles/common.umd.js',
      '@angular/compiler': 'npm:@angular/compiler' + ngVersion + '/bundles/compiler.umd.js',
      '@angular/platform-browser': 'npm:@angular/platform-browser' + ngVersion + '/bundles/platform-browser.umd.js',
      '@angular/platform-browser-dynamic': 'npm:@angular/platform-browser-dynamic' + ngVersion + '/bundles/platform-browser-dynamic.umd.js',
      '@angular/http': 'npm:@angular/http' + ngVersion + '/bundles/http.umd.js',
      '@angular/router': 'npm:@angular/router' + ngRouterVersion + '/bundles/router.umd.js',
      '@angular/forms': 'npm:@angular/forms' + ngVersion + '/bundles/forms.umd.js',

      // other libraries
      'rxjs':                       'npm:rxjs',
      'angular2-in-memory-web-api': 'npm:angular2-in-memory-web-api',
      // 'ts':                         'npm:plugin-typescript@5.1.2/lib/plugin.js',
      // 'typescript':                 'npm:typescript@2.0.6/lib/typescript.js',
      'ts':                         'npm:plugin-typescript@7.0.6/lib/plugin.js',
      'typescript':                 'npm:typescript@2.2.1/lib/typescript.js',

    },
    // packages tells the System loader how to load when no filename and/or no extension
    packages: {
      app: {
        main: './main.ts',
        defaultExtension: 'ts'
      },
      rxjs: {
        defaultExtension: 'js'
      },
      'angular2-in-memory-web-api': {
        main: './index.js',
        defaultExtension: 'js'
      }
    }
  });
})(this);"><input type="hidden" name="files[tsconfig.json]" value="{
  &quot;compilerOptions&quot;: {
    &quot;target&quot;: &quot;es5&quot;,
    &quot;module&quot;: &quot;commonjs&quot;,
    &quot;moduleResolution&quot;: &quot;node&quot;,
    &quot;sourceMap&quot;: true,
    &quot;emitDecoratorMetadata&quot;: true,
    &quot;experimentalDecorators&quot;: true,
    &quot;removeComments&quot;: false,
    &quot;noImplicitAny&quot;: false,
    &quot;suppressImplicitAnyIndexErrors&quot;: true
  }
}
"></form><script>document.getElementById("mainForm").submit();</script></body></html>