body {
    margin-left: 10px;
  }
  
  .container {
    width: 100%;
  }
  
  .row {
    cursor: pointer;
  }
  
  .selectedCharacter {
    color: white;
  }
  
  .data:hover {
    background: #efefef;
  }