<h2>Customers</h2>
<br />
<div class="container" *ngIf="customers">
    <div class="row card-container">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let customer of customers">
            <div class="card">
                <div class="card-header">
                    <span class="white">
                        {{customer.firstName }} {{ customer.lastName }} 
                    </span>
                </div>
                <div class="card-body">
                    <div class="clearfix">
                        <div class="pull-left card-body-left">
                            <a href="#" class="white">
                                <img src="images/{{customer.gender | lowercase}}.png" class="card-image" />
                            </a>
                        </div>
                        <div class="pull-left card-body-right">
                            <div class="card-body-content">{{customer.city }}, {{customer.state.name}}</div>
                            <!-- 
                                TODO: Bind the routerLink directive to the anchor tag below
                                      using [] property binding syntax. Assign it a value of ['/orders', customer.id]. 
                                      
                                      This will allow the end user to navigate to the "orders" 
                                      route and pass the customer id to it as a route parameter.
                            -->

                            <a>View Orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!customers.length">
            No Records Found
        </div>
    </div>
</div>