html {
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  position: relative;
  padding-top: 60px;
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] { display: none !important; }

.navbar-inner {
  padding-left: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #027FF4;
  background-image: none;
}

.navbar-inner.toolbar {
  background-color: #fafafa;
}

footer {
  margin-top: 15px;
}

.navbar-inner.footer {
  background-color: #fafafa;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height:50px;
}

.nav.navBarPadding {
  margin-left:25px;
  margin-top: 10px;
}

.navbar .brand {
  margin-top: 2px;
  color: #fff;
  -webkit-text-shadow: none;
  text-shadow: none;
}

.navbar-toggle {
border: 1px solid white;
}

.navbar-toggle .icon-bar {
background-color: white;
}

.app-title {
  line-height:50px;
  font-size:20px;
  color: white;
}

.white {
  color: white;
}

.card-container {
  width:85%;
}

.card {
  background-color:#fff;
  border: 1px solid #d4d4d4;
  height:120px;
  margin-bottom: 20px;
  position: relative;
}

.card-header {
  background-color:#027FF4;
  font-size:14pt;
  color:white;
  padding:5px;
  width:100%;
}

.card-close {
  color: white;
  font-weight:bold;
  margin-right:5px;
}

.card-body {
  padding-left: 5px;
}

.card-body-left {
  margin-top: -5px;
}

.card-body-right {
  margin-left: 20px;
  margin-top: 2px;
}

.card-body-content {
  width: 100px;
}

.card-image {
  height:50px;width:50px;margin-top:10px;
}

.orders-table {
  width:50%;
}