<html lang="en"><head></head><body><form id="mainForm" method="post" action="https://embed.plnkr.co?show=preview" target="eplnkr"><input type="hidden" name="entries[app/app.component.ts][content]" value="import { Component, OnInit } from '@angular/core';

//*** TODO: Import the DataService module here from './data.service'


@Component({ 
  selector: 'app-component',
  templateUrl: 'app/app.component.html',
})
export class AppComponent implements OnInit {
  
  films: any[];  
  selectedFilm: any;
  
  //*** TODO: Inject DataService (name the parameter &quot;dataService&quot; and make it private)
  constructor() {  }
  
  ngOnInit() {
      //*** TODO: Subscribe to the DataService service's 
      //***       getFilms() Observable (see the readme if you need help)



  }
  
}"><input type="hidden" name="entries[app/app.component.ts][encoding]" value="utf8"><input type="hidden" name="entries[app/app.module.ts][content]" value="import { NgModule }      from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { FormsModule } from '@angular/forms';

//*** TODO: Import HttpModule from @angular/http



//*** TODO: Import AppComponent, DataService and Sorter 
//***       (they're located in the app folder)



@NgModule({
 //*** TODO: Add the imported HttpModule object to the imports 
  imports:      [ BrowserModule, FormsModule ],

  declarations: [ AppComponent ],
  
  ////*** TODO: Add DataService and Sorter to the providers
  providers:    [  ],
  bootstrap:    [ AppComponent ]
})
export class AppModule { }"><input type="hidden" name="entries[app/app.module.ts][encoding]" value="utf8"><input type="hidden" name="entries[app/data.service.ts][content]" value="import { Injectable } from '@angular/core';

//*** TODO: Import the Http and Response objects from the @angular/http module


import { Observable } from 'rxjs/Observable';
import 'rxjs/add/operator/map'; 
import 'rxjs/add/operator/catch';

import { Sorter } from './sorter';

@Injectable()
export class DataService {
  
  url: string = 'http://swapi.co/api/';
  
  //*** TODO: Inject the Http and Sorter services into the constructor 
  //***       (name the parameters &quot;http&quot; and &quot;sorter&quot; and make them private)
  constructor() { }
  
  getFilms() {
    //*** TODO: Use the Http get() function to retrieve films 
    //***       (see the README for the code to use here)



  }
  
  private handleError(error: any) {
      console.error('server error:', error); 
      if (error instanceof Response) {
        let errMessage = '';
        try {
          errMessage = error.json().error;
        } catch(err) {
          errMessage = error.statusText;
        }
        return Observable.throw(errMessage);
      }
      return Observable.throw(error || 'Server Error!!');
  }
  
}"><input type="hidden" name="entries[app/data.service.ts][encoding]" value="utf8"><input type="hidden" name="entries[app/main.ts][content]" value="import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { enableProdMode } from '@angular/core';

import { AppModule } from './app.module';

//enableProdMode(); //Uncomment for production
platformBrowserDynamic().bootstrapModule(AppModule)
  .then((success: any) => console.log('App bootstrapped'))
  .catch((err: any) => console.error(err));"><input type="hidden" name="entries[app/main.ts][encoding]" value="utf8"><input type="hidden" name="entries[app/sorter.ts][content]" value="import { Injectable } from '@angular/core';

@Injectable()
export class Sorter {

	property: string = null;
	direction: number = 1;

    sort(collection: any[], prop: any) {
        this.property = prop;
        this.direction = (this.property === prop) ? this.direction * -1 : 1;

        collection.sort((a: any,b: any) => {
            let aVal: any;
            let bVal: any;
            
            //Handle resolving complex properties such as 'state.name' for prop value
            if (prop &amp;&amp; prop.indexOf('.')) {
              aVal = this.resolveProperty(prop, a);
              bVal = this.resolveProperty(prop, b);
            }
            else {            
              aVal = a[prop];
              bVal = b[prop];
            }
            
            //Fix issues that spaces before/after string value can cause such as ' San Francisco'
            if (this.isString(aVal)) aVal = aVal.trim().toUpperCase();
            if (this.isString(bVal)) bVal = bVal.trim().toUpperCase();
          
            if(aVal === bVal){
                return 0;
            }
            else if (aVal > bVal){
                return this.direction * -1;
            }
            else {
                return this.direction * 1;
            }
        });
    }
    
    isString(val: any) : boolean {
      return (val &amp;&amp; (typeof val === 'string' || val instanceof String));
    }
    
    resolveProperty(path: string, obj: any) {
      return path.split('.').reduce(function(prev, curr) {
          return (prev ? prev[curr] : undefined)
      }, obj || self)
    }

}"><input type="hidden" name="entries[app/sorter.ts][encoding]" value="utf8"><input type="hidden" name="entries[styles.css][content]" value="body {
  margin-left: 10px;
}

.row {
  cursor: pointer;
}

.selectedCharacter {
  color: white;
}

.data:hover {
  background: #efefef;
}"><input type="hidden" name="entries[styles.css][encoding]" value="utf8"><input type="hidden" name="entries[app/app.component.html][content]" value="<h1>Star Wars Films</h1>
<br />
<div *ngIf=&quot;!films&quot;>
  Loading films...
</div>
<div *ngIf=&quot;films&quot;>
  Select a movie for more details.
</div>
<br />
<div class=&quot;container pull-left&quot;>
  <div class=&quot;row bg-primary&quot;>
    <div class=&quot;col-xs-6&quot;>Film</div>
    <div class=&quot;col-xs-6&quot;>Episode</div>
  </div>
  <div class=&quot;row data&quot; *ngFor=&quot;let film of films&quot; (click)=&quot;selectedFilm = film&quot;>
    <div class=&quot;col-xs-6&quot;>
      {{ film.title }} 
    </div>
    <div class=&quot;col-xs-6&quot;>
      Episode {{ film.episode_id }}
    </div>
  </div>

  <br />
  <div *ngIf=&quot;selectedFilm&quot;>
    <h3>{{ selectedFilm.title }} ({{ selectedFilm.director }})</h3>

    {{ selectedFilm.opening_crawl }}
    <br /><br />
    Characters: {{ selectedFilm.characters.length }}
    <br />
    Planets: {{ selectedFilm.planets.length }}
    <br />
    Species: {{ selectedFilm.species.length }}
    <br />
    Starships: {{ selectedFilm.starships.length }}
  </div>

</div>




"><input type="hidden" name="entries[app/app.component.html][encoding]" value="utf8"><input type="hidden" name="entries[index.html][content]" value="<!DOCTYPE html>
<html>
  <head>
    <title>Angular 2</title>
    <meta charset=&quot;UTF-8&quot;>
    <meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;>
    <link rel=&quot;stylesheet&quot; href=&quot;//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css&quot; />
    <link rel=&quot;stylesheet&quot; href=&quot;styles.css&quot; />

     <!-- Polyfill(s) for older browsers -->
    <script src=&quot;//unpkg.com/core-js/client/shim.min.js&quot;></script>

    <script src=&quot;//unpkg.com/zone.js@0.7.4?main=browser&quot;></script>

    <script src=&quot;//unpkg.com/systemjs@0.20.9/dist/system.src.js&quot;></script>
 
    <script src=&quot;systemjs.config.js&quot;></script>
    <script>
      System.import('app').catch(function(err){ console.error(err);  });
    </script>

  <body>
    <app-component>Loading...</app-component>
  </body>
</html>"><input type="hidden" name="entries[index.html][encoding]" value="utf8"><input type="hidden" name="entries[README.md][content]" value="# Angular 2 Services and Http &quot;Try It&quot; Exercise - 15 Minutes

This example shows how Http can be used in services to retrieve
remote data from a server.

## Steps

1. Open **app/app.module.ts** and complete the TODO tasks.
2. Open **app/data.service.ts** and complete the TODO tasks.
3. Add the following code into the **getFilms()** function in data.services.ts:
```
return this.http.get(this.url + 'films')
           .map((response: Response) => {
                let films = response.json().results;
                this.sorter.sort(films, 'episode_id');
                return films;
             })
           .catch(this.handleError);
```
4. Open **app/app.component.ts** and complete the TODO tasks.
5. To subscribe to the Observable returned from DataService's getFilms() function add the following code in ngOnInit():
```
  this.dataService.getFilms().subscribe((films) => {
    this.films = films;
  });
```
6. Press the **Run** button on the Plunker toolbar to try out the application! A list of
   Star Wars films should be displayed. Click a movie to get more details about it.


   # Angular 2 Data Binding Fundamentals &quot;Try It&quot; Exercise - 15 Minutes

This example provides a look at Angular 2 data binding syntax in templates.

## Bonus

**Use the Async Pipe**

1. Remove the subscribe in the `AppComponent`

2. Set the films property in the `AppComponent` to the return value of  `this.dataService.getFilms()`
```
this.films = this.dataService.getFilms();
```

3. Add the async pipe to the template's *ngFor

```
*ngFor=&quot;let film of films | async&quot;
```

"><input type="hidden" name="entries[README.md][encoding]" value="utf8"><input type="hidden" name="tags[0]" value="angular2"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="tags[2]" value="http"><input type="hidden" name="tags[3]" value="observables"><input type="hidden" name="tags[4]" value="rxjx"><input type="hidden" name="tags[5]" value="angular 2"><input type="hidden" name="title" value="Angular 2 Example - Angular 2 Http and Observables Lab"><input type="hidden" name="source[type]" value="Angular 2 Http and Observables Lab"><input type="hidden" name="source[url]" value="https://angular.io"><input type="hidden" name="entries[systemjs.config.js][content]" value="/**
 * PLUNKER VERSION
 * (based on systemjs.config.js in angular.io)
 * System configuration for Angular 2 samples
 * Adjust as necessary for your application needs.
 */
(function (global) {
  
  var ng2Version = '@2.1.2',
      ng2RouterVersion = '@3.1.2';
  
  System.config({
    // DEMO ONLY! REAL CODE SHOULD NOT TRANSPILE IN THE BROWSER
    transpiler: 'ts',
    typescriptOptions: {
      tsconfig: true
    },
    meta: {
      'typescript': {
        &quot;exports&quot;: &quot;ts&quot;
      }
    },
    paths: {
      // paths serve as alias
      'npm:': 'https://unpkg.com/'
    },
    // map tells the System loader where to look for things
    map: {
      // our app is within the app folder
      app: 'app',

      // angular bundles
      '@angular/core': 'npm:@angular/core' + ng2Version + '/bundles/core.umd.js',
      '@angular/common': 'npm:@angular/common' + ng2Version + '/bundles/common.umd.js',
      '@angular/compiler': 'npm:@angular/compiler' + ng2Version + '/bundles/compiler.umd.js',
      '@angular/platform-browser': 'npm:@angular/platform-browser' + ng2Version + '/bundles/platform-browser.umd.js',
      '@angular/platform-browser-dynamic': 'npm:@angular/platform-browser-dynamic' + ng2Version + '/bundles/platform-browser-dynamic.umd.js',
      '@angular/http': 'npm:@angular/http' + ng2Version + '/bundles/http.umd.js',
      '@angular/router': 'npm:@angular/router' + ng2RouterVersion + '/bundles/router.umd.js',
      '@angular/forms': 'npm:@angular/forms' + ng2Version + '/bundles/forms.umd.js',

      // other libraries
      'rxjs':                       'npm:rxjs',
      'angular2-in-memory-web-api': 'npm:angular2-in-memory-web-api',
      'ts':                         'npm:plugin-typescript@5.1.2/lib/plugin.js',
      'typescript':                 'npm:typescript@2.0.6/lib/typescript.js',

    },
    // packages tells the System loader how to load when no filename and/or no extension
    packages: {
      app: {
        main: './main.ts',
        defaultExtension: 'ts'
      },
      rxjs: {
        defaultExtension: 'js'
      },
      'angular2-in-memory-web-api': {
        main: './index.js',
        defaultExtension: 'js'
      }
    }
  });
})(this);"><input type="hidden" name="entries[systemjs.config.js][encoding]" value="utf8"><input type="hidden" name="entries[tsconfig.json][content]" value="{
  &quot;compilerOptions&quot;: {
    &quot;target&quot;: &quot;es5&quot;,
    &quot;module&quot;: &quot;commonjs&quot;,
    &quot;moduleResolution&quot;: &quot;node&quot;,
    &quot;sourceMap&quot;: true,
    &quot;emitDecoratorMetadata&quot;: true,
    &quot;experimentalDecorators&quot;: true,
    &quot;removeComments&quot;: false,
    &quot;noImplicitAny&quot;: false,
    &quot;suppressImplicitAnyIndexErrors&quot;: true
  }
}
"><input type="hidden" name="entries[tsconfig.json][encoding]" value="utf8"></form><script>document.getElementById("mainForm").submit();</script></body></html>